body {
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  
  #guess {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  #rightGuess {
    display: flex;
    text-transform: uppercase;
  }
  
  #wrongGuess {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  
  .wordBlocks,
  .wrongWordBlocks {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background: white;
    color: black;
    border-radius: 10px;
  }
  
  .wrongWordBlocks {
    background: #dc3545;
    color: white;
  }